#select-character{
    background-color: #CA965C;
  padding: 10% 0 2%;
}



@media (max-width: 570px){
    .select-heading{
        padding-top: 5%;
    }
}

.characterPortraits{
    padding: 10% 20%;
}