#select-character{
    background-color: #CA965C;
  padding: 10% 0 2%;
}



@media (max-width: 570px){
    .select-heading{
        padding-top: 5%;
    }
}

/* CHARACTER PORTRAIT LAYOUT */
.characterPortraits{
    padding: 5% 19%;
}

.portrait{
    border: #876445;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    cursor: pointer;
    height: 200px;
    width: 200px;
    margin: 0 10.5% 0 0;
    padding: 0;
}

.noMarginRight{
    margin: 0;
}

.clickedPortrait{
    border: white;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
}

.characterRow{
    margin-bottom: 7%;
}