#select-character{
    background-color: #CA965C;
  padding: 10% 0 2%;
}



@media (max-width: 570px){
    .select-heading{
        padding-top: 5%;
    }
}

.characterPortraits{
    padding: 10% 20%;
}

.portrait{
    border: #876445;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    cursor: pointer;
    height: 200px;
    width: 200px;
    padding: 0;
}

.clickedPortrait{
    border: grey;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
}