#select-character{
    background-color: #CA965C;
    padding: 10% 0 2%;
}

h2{
    margin-top: 5px;
}

@media (max-width: 570px){
    .select-heading{
        padding-top: 5%;
    }
}

/* CHARACTER PORTRAIT LAYOUT */


.portrait{
    height: 180px;
    width: 180px;
    padding: 0;
}

.portraitContainer{
    background-color: #876445;
    border: #876445;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    cursor: pointer;
    height: 233px;
    width: 200px;
    margin: 0 8% 0 0;
    padding: 0;
    text-align: center;
}

.noMarginRight{
    margin: 0;
}

.whiteText{
    color: white;
    font-family: 'Press Start 2P', cursive;
}

.blackText{
    color: black;
}

.smallText{
    font-size: 1.8rem;
}

.clickedPortrait{
    background-color: white;
    border: white;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    color: black;
}

.characterRow{
    margin-bottom: 7%;
}

/* SCREEN WIDTH MEDIA QUERIES */

@media (min-width: 1209px){
    .portraitContainer{
        margin: 0
    }
}